<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pwmigrationproject</name>
	<displayName><![CDATA[Migration Project]]></displayName>
	<version><![CDATA[0.1.0]]></version>
	<description><![CDATA[Project migration from different versions of PS]]></description>
	<author><![CDATA[PrestaWeb.ru]]></author>
	<tab><![CDATA[migration_tools]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
